<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>app.log</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- each archived file, size max 10MB -->
                <maxFileSize>10MB</maxFileSize>
                <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
                <totalSizeCap>20GB</totalSizeCap>
                <!-- 60 days to keep -->
                <maxHistory>60</maxHistory>
            </rollingPolicy>

            <!--В pattern мы указываем, что в лог нужно писать сначала дату с временем
            %d{dd.MM.yyyy HH:mm:ss.SSS}, потом название потока [%thread],
            затем пять символов уровеня логирования %-5level, затем название логера,
            пытаясь уместить его в 36 символов, %logger{36}, затем сообщение логера %msg
            и перевод строки %n -->

            <encoder>
                <pattern>"%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <!--logger name="study.spring" level="INFO" /-->
        <root level="ERROR">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>

</configuration>