<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment(~{::title}, ~{})">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{/updateCurse/{id}(id=${curseDTO.id})}"
      th:object="${curseDTO}" enctype="multipart/form-data">
    <div th:if="${msg == 'empty'}">
        [[#{curse.name.exists}]]
    </div>
    <input type="text" th:field="*{curseName}" pattern="^[^\s][a-zA-Zа-ёА-ЯЁ_\s]+[^\s]+$" required/>
    <br/><br/>
    <input type="file"th:field="*{file}" multiple/>
    <br/><br/>
    <input type="submit" th:value="#{input}" />
</form>
<a th:text="#{back}" th:href="@{/cabinet}"></a>
</body>
</html>